extends ./layout.jade

block head
    style(type="text/css").
        body {
            background: #fdf6e3;
            font-family: Georgia, serif;
        }
        .container {
            display: flex;
            display: -webkit-flex;
        }
        .nav {
            margin-right: 20px;
            min-width: 240px;
        }
        .nav a {
            color: #556677;
            text-decoration: none;
        }
        .nav h5 {
            margin: 0;
            line-height: 35px;
            font-size: 14px;
        }
        .content {
            flex: 1;
            -webkit-box-flex: 1;
            line-height: 1.4em;
        }
        .content img {
            max-width: 100%;
        }

block blog
    include:md ./introduction.md